@model StudentWeb.Models.Student

@{
    ViewData["Title"] = "Details";
}

<div class="border p-4">
<div>
    <h1>STUDENT DETAILS</h1>
    <hr />
        <table class="table">
            <tbody>
                <tr>
                    <td class="fw-bold">@Html.DisplayNameFor(model => model.Name)</td>
                    <td>:</td>
                    <td>@Html.DisplayFor(model => model.Name)</td>
                </tr>
                <tr>
                    <td class="fw-bold">@Html.DisplayNameFor(model => model.Gender)</td>
                    <td>:</td>
                    <td>@(Model.Gender == 0 ? "Female" : "Male")</td>
                </tr>
                <tr>
                    <td class="fw-bold">@Html.DisplayNameFor(model => model.DOB)</td>
                    <td>:</td>
                    <td>@Html.DisplayFor(model => model.DOB)</td>
                </tr>
                <tr>
                    <td class="fw-bold">@Html.DisplayNameFor(model => model.Class)</td>
                    <td>:</td>
                    <td>@Html.DisplayFor(model => model.Class.Name)</td>
                </tr>
                <tr>
                    <td class="fw-bold">@Html.DisplayNameFor(model => model.CreatedDate)</td>
                    <td>:</td>
                    <td>@Html.DisplayFor(model => model.CreatedDate)</td>
                </tr>
                <tr>
                    <td class="fw-bold">@Html.DisplayNameFor(model => model.ModificationDate)</td>
                    <td>:</td>
                    <td>@Html.DisplayFor(model => model.ModificationDate)</td>
                </tr>
            </tbody>
        </table>

</div>
<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
</div>
